<div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">

    <!-- trusted by -->
    <div class="max-w-4xl mx-auto">
        <h1 class="text-center mb-3 text-gray-400 font-medium">Trusted by 5,000+ Companies Worldwide</h1>
        <div class="grid grid-cols-3 lg:grid-cols-6 gap-4 justify-items-center">
            <img class="h-7" src=">
            <img class="h-7" src="../../assets/img/Closed Eye.png">
            <img class="h-7" src="../../assets/img/Clinic.png">
            <img class="h-7 transform translate-y-2" src="../../assets/img/Schizophrenia.png">
            <img class="h-7" src="img/company/facebook.svg">
            <img class="h-7" src="img/company/grab.svg">
        </div>
    </div>
</div>

  